/* App.css */

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(138, 15, 15); /* Header background color */
  color: #000; /* Header text color */
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .logo h1 {
  font-size: 24px;
  margin: 0;
}

.header-left nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-left nav li {
  margin-right: 20px;
}

.header-left nav a {
  color: #fff;
  text-decoration: none;
}

.header-center {
  text-align: center;
  background-color: #fff; /* Middle section background color */
  background-image: url('../images/audi.jpeg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire section with the image */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent image repetition */
}

.header-center h2 {
  font-size: 28px;
  color: #000; /* Text color for the middle section */
}

.header-center img {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%;
  height: auto;
}

.header-right nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-right nav li {
  margin-left: 20px;
}

.header-right nav a {
  color: #fff;
  text-decoration: none;
}

.header-left .logo h1 {
  font-size: 24px;
  margin: 0;
}

.header-right .search-bar {
  display: flex;
  align-items: center;
}

.header-right input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

.header-right button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* /////////////////////////////////////////// */
/* Footer Styles */
footer {
  background-color: red; /* Footer background color */
  color: #000; /* Footer text color */
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .footer-left {
  text-align: left;
}

.footer-content .footer-left a {
  text-decoration: none;
  color: #000; /* Link color */
  margin-right: 20px;
  position: relative;
}

.footer-content .footer-left a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000; /* Line color */
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.footer-content .footer-left a:hover::after {
  width: 100%;
}

.footer-content .footer-center {
  flex-grow: 1;
  text-align: center;
}

.footer-content .footer-right {
  text-align: right;
}


/* Copyright Styles */
.copyright {
  margin-top: 20px;
}
